// Quasar SCSS (& Sass) Variables
$primary   : #0E8A5F
$secondary : #14A17A
$accent    : #14A17A
$dark      : #0F172A
$positive  : #10B981
$negative  : #EF4444
$info      : #3B82F6
$warning   : #F59E0B
